*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  width: 100vw;
  min-height: 100vh;
  font-family: "Barlow Semi Condensed", sans-serif;
  background-color: #ecf2f8;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 165px 164px;
  
}

.main{
  display: grid;
  grid-template-columns: auto;
  row-gap: 24px;
  column-gap: 30px;
  grid-template-columns: repeat(4, 255px);

}

@media (min-width: 375px){
  body{
    padding: 71px 24px;
  }

  .main{
  grid-template-columns: auto;
  row-gap: 24px;
  column-gap: 30px;
  }
}

